<h1>Sisselogimine </h1>
<form  action="#/" style="width: 600px; margin: auto;">
        <div class="form-group">
          <label for="inputMail">Email</label>
  			 <input type="text" class="form-control" id="inputMail" placeholder="Meil" ng-model="userMeil">
        </div>
        <div class="form-group">
          <label for="inputPas">Parool</label>
  			 <input type="password" class="form-control" id="inputPas" placeholder="Parool" ng-model="userPas">
        </div>
  			<button type="button" ng-click ="login()" >Sisene</button>  
		  </form>	